<h2>Example Page for RD Test</h2>
<p>
  <!-- The time is now: --> <%#= Time.now %> 
  <br>

  <tr>
  <td><%= link_to "Prices", welcome_prices_path %></td> <br>
  <td><%= link_to "Contact", contacts_path %></td> <br>
  <td><%= link_to "About", welcome_about_path %></td> 
  </tr>
</p>